.field{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr
    
}
#tablageneral{
    background-color: rgba(21, 161, 185, 0.363) ;
    border-radius:  1rem;
    padding: 1rem;
}


#frm{
   
    border-radius:  1rem;
    max-width: 340px;
}
body{
    background: rgb(80,75,166);
background: linear-gradient(90deg, rgba(80,75,166,1) 0%, rgba(199,130,213,1) 52%, rgba(189,155,195,1) 100%);

}   
.listar{
    border-radius: 1rem;
-content: center center;
}

input{
    width: 100%;
}
#tablatarea{
    background-color: rgba(21, 161, 185, 0.363) ;
    border-radius:  1rem;
    padding: 1rem;
    margin: 1rem;
}